body {
    background-color: rgb(255, 251, 233);

}
.titulo {
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 1%;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}

p {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
.productos {
    margin-top: 3%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}

.producto-enlace {
    text-decoration: none; 
    color: inherit; 
    display: flex;
    justify-content: center; 
    width: 20%; 
    margin: 15px;
    
}

.producto {
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 184, 184);
}
.producto img {
    width: 50%; 
    height: auto; 
    margin-top: 20px;
}

.search-container {
    position: relative;
    display: inline-block;
}

#search-input {
    height: 20px;
    width: 200px;
    padding: 10px;
    margin: 10px 0;
}

.suggestions-box {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

/* Archivo: producto.css */
button {
    background-color: #f56440; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s;  
}

button:hover {
    background-color: #f19f8b; 
}
