body {
    background-color: rgb(255, 251, 233);
    margin: 0;
    padding: 0;
}
.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#loginlink {
    position: absolute;
    left: 100px;
}

.btn-login {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #ec6847;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
}

.btn-login:hover {
    background-color: #ee4d25; 
}

.btn-logout {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: #ec6847;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    margin-top: 100px;
}

.btn-logout:hover {
    background-color: #ee4d25; 
}

.title-center {
    flex-grow: 1;
    text-align: center;
}

#cart-button-placeholder {
    position: absolute;
    right: 100px;
 }



h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}

p {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
.productos {
    margin-top: 3%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}

.producto-enlace {
    text-decoration: none; 
    color: inherit; 
    display: flex;
    justify-content: center; 
    width: 20%; 
    margin: 15px;
    
}

.producto {
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 184, 184);
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.producto img {
    width: 50%; 
    height: auto; 
    margin-top: 20px;
}

.search-container {
    text-align: center;
}

#search-input {
    height: 20px;
    width: 200px;
    padding: 10px;
    margin: 10px 0;
}

.suggestions-box {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    margin-left: 790px;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

/* Archivo: producto.css */
button {
    background-color: #f56440; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s;  
}

button:hover {
    background-color: #ee4d25; 
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #ee4d25;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 97%;
    text-align: center;
    padding-right: 100px;
}