body {
    background-color: rgb(255, 251, 233);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#loginlink {
    position: absolute;
    left: 100px;
}

.btn-login {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #ec6847;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
}

.btn-login:hover {
    background-color: #ee4d25; 

}

.btn-logout {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: #ec6847;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    margin-top: 100px;
}

.btn-logout:hover {
    background-color: #ee4d25; 
    
}

.title-center {
    flex-grow: 1;
    text-align: center;
}

#cart-button-placeholder {
    position: absolute;
    right: 100px;
 }

h2 {
color: brown;
}
.producto {
    display: flex;
    border: 1px solid rgb(212, 184, 184);
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 50%;
    margin-top: 1%; 
    margin-bottom: auto; 
    margin-left: auto;
    margin-right: auto;
}
.producto img {
    margin-right: 40px; /* Espacio entre la imagen y el texto */
    width: 60%;
    height: auto;
}

.search-container {
    text-align: center;
    padding-top:5px;
}

#search-input {
    height: 20px;
    width: 200px;
    padding: 10px;
    margin: 10px 0;
}

.suggestions-box {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    margin-left: 780px;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

button {
    background-color: #f56440; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s;  
}

button:hover {
    background-color: #ee4d25; 
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.boton-imagen {
    cursor: pointer; 
    padding: 0; 
    align-items: center;
    height: 100px;
    margin-top: 500px;
   
}
.boton-imagen img {
    height: 60px;
    width: 60px; 
    padding-left: 25px;
}